$lightCyan: hsl(193, 38%, 86%);
$neonGreen: hsl(150, 100%, 66%);
$grayBlue: hsl(217, 19%, 38%);
$darkGrayBlue: hsl(217, 19%, 24%);
$darkBlue: hsl(218, 23%, 16%);

body {
  font: 100% Manrope;
  margin: 0;
  background-color: $darkBlue;
  color: $lightCyan;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: auto;
  min-width: 320px;
  max-width: 500px;
  margin: 0 5%;
  background-color: $darkGrayBlue;
  border-radius: 10px;
  text-align: center;

  @media only screen and (max-width: 354px) {
    min-width: auto;
    width: auto;
    margin: 0 5%;
    justify-content: center;
    align-items: center;
  }

  .main {
    padding: 30px;
    margin: 0;

    h1 {
      color: $neonGreen;
      text-align: center;
      text-transform: uppercase;
      font-size: smaller;
      letter-spacing: 0.35em;
      margin: 20px 0;
    }

    h2 {
      margin-top: 30px;
    }

    .divider {
      background-image: url(./Assets/Images/pattern-divider-desktop.svg);
      background-repeat: no-repeat;
      background-position: center;
      height: 16px;
      width: 100%;
      margin: 40px 0;
    }

    button {
      background-color: $neonGreen;
      border: 0;
      cursor: pointer;
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transform: translate(-50%, 0%);

      &:hover {
        box-shadow: 1px 1px 30px 15px fade-out($color: $neonGreen, $amount: 0.8);
        -webkit-box-shadow: 1px 1px 30px 15px
          fade-out($color: $neonGreen, $amount: 0.8);
        -moz-box-shadow: 1px 1px 30px 15px
          fade-out($color: $neonGreen, $amount: 0.8);
        background-color: $neonGreen;
      }
    }
  }
}
